* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.spots {
  width: 100vw;
}

.spots h3 {
  width: 100%;
}

.spot {
  margin: 10px;
  border: 1px solid black;
  padding: 10px;
}

.spot-img {
  max-width: 100%;
}

.select-button {
  margin-top: 15px;
}

.summary {
  margin: 10px;
}

.line-items {
  list-style-type: none;
}

@media (min-width: 768px) {
  .spots {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .spots h3 {
    width: 100%;
    height: 50px;
  }

  .spot {
    max-width: 35%;
  }
}

@media (prefers-color-scheme: light) {
  * {
    background-color: beige;
  }
}

@media (prefers-color-scheme: dark) {
  * {
    background-color: darkslategray;  
    color: whitesmoke;
  }
}

@media (pointer: fine) {
  .select-button:hover {
    background-color: aquamarine;
    cursor: pointer;
  }
}
