* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.menu {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.menu-item {
  background-color: antiquewhite;
  text-align: center;
  width: 100%;
  font-size: clamp(10px, 5vw, 30px);
}

.menu-item img {
  width: 40px;
  height: 40px;
}

.menu-item::after {
  content: attr(data-tooltip);
  opacity: 0;
  color: brown;
}

@media (pointer:fine) {
  .menu-item p {
    opacity: 0;
  }

  .menu-item:hover::after {
    opacity: 1;
  }
}

@media (min-width: 768px) {

}