* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

details {
  height: 0;
  width: 0;
  opacity: 0;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.menu-item {
  text-align: center;
  font-size: clamp(8px, 5vw, 30px);
  width: 100%;
}

.main-video {
  max-width: 100%;
  height: auto;
}

.video-info-container {
  margin: 5px;
}

.video-actions {
  display: flex;
  text-align: center;
}

.video-actions button {
  width: 100%;
  max-width: 100%;
  margin: 5px;
  font-weight: bold;
}

.group-ads-container h3 {
  margin-left: 5px;
}

.ad-container {
  text-align: center;
  border: 1px solid red;
}

.ad-container img {
  max-width: 50%;
}

.related-videos-container h3 {
  margin-left: 5px;
}

.related-videos {
  text-align: center;
  margin: 5px;
  border: 1px solid black;
}


.related-videos img {
  max-width: 100%;
  height: auto;
}

@media (prefers-color-scheme: light) {
  .menu {
    background-color: beige;
  }
}

@media (prefers-color-scheme: dark) {
  * {
    background-color: darkslategray;  
    color: whitesmoke;
  }

  .menu {
    background-color: darkslategray;
    color: aliceblue;
  }
}

@media (max-width: 430px) {
  details {
    height: auto;
    width: 100%;
    opacity: 1;
    background-color: beige;
  }

  .menu {
    height: 0;
    width: 0;
    opacity: 0;
  }

  .menu p {
    opacity: 0;
  }
}

@media (min-width: 768px) {
  .video-container {
    display: flex;
    min-height: 550px;
    flex-wrap: wrap;
  }

  .main-video {
    margin: 0px;
  }

  .video {
    margin: 5px;
    flex: 0 0 60%;
    height: auto;
  }  

  .video-info-container {
    flex: 0 0 37%;
  }

  .video-actions {
    flex: 0 0 100%;
    height: auto;
  }

  .video-actions button {
    height: 70px;
  }

  .group-ads-container {
    padding: 5px;
  }

  .ads-container {
    display: flex;
    justify-content: space-evenly;
  }
  
  .ad-container {
    flex: 0 0 40%;
  }

  .related-videos-container {
    display: flex;
    flex-wrap: wrap;
  }

  .related-videos-container h3 {
    flex: 0 0 100%;
  }

  .related-videos {
    text-align: center;
    margin: 5px;
    border: 1px solid black;
    flex: 0 0 20%;
  }
}
