* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: red;
  color: white;
}

.brand-name {
  font-size: 18px;
  font-weight: bold;
}

.menu-icon img {
  width: 30px;
  height: auto;
  margin: 5px;
}

.contact-icon img {
  width: 30px;
  height: auto;
  margin: 5px;
}

.options-div {
  background-color: red;
  color: white;
}

.options-list {
  text-align: center;
}